$bodyClr: #010C15;
$mainClr: #011627;
$mainFontClr: #607B96;
$secondaryFontClr: #4D5BCE;
$thirdFontClr: #5565E8;
$hoverFontClr: white;
$strokeClr: #1E2D3D;
$accentClr1: #FEA55F;

$stroke: 1px solid $strokeClr;

$pagePadding: 2vw;