/* Imports*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


/* Variables */

:root {
    --body-padding: 2rem;
    --lable-clr: #607B96;
    --stroke: 1px solid #1E2D3D;
}

/* Typography*/

h1 {
    font-size: 3.875rem;
}

h2 {
    font-size: 2rem;
}

body {
    font-family: 'Fira Code', monospace;
    font-size: 1.125rem;
    color: #ffffff;
}

.lable {
    font-size: 1rem;
    font-weight: 300;
    color: var(--lable-clr);
}

.lable::before {
    content: "//";
    margin-right: 0.75rem;
}

.code-snippet {
    font-size: 0.875rem;
}

a {
    color: #ffffff;
}

/* General Desing */

body {
    height: 100vh;
    padding: var(--body-padding);
    box-sizing: border-box;
    background-color: #010C15;
}

.wrapper {
    position: relative;
    height: 100%;
    background-color: #011627;
    border-radius: 8px;
    border: var(--stroke);
}

.flex-container {
    display: flex;
    align-items: center;
}

/* Navbar & Footer */

.navbar {
    border-bottom: var(--stroke);
}

.footer {
    width: 100%;
    border-top: var(--stroke);
    position: absolute;
    bottom: 0;
}

.navbar_name {
    padding: 1.188rem 9.625rem 1.188rem 1.375rem;
}

.navbar__a {
    padding: 1.188rem 2rem;
    border-left: var(--stroke);
    z-index: 1;
}

.navbar__a:hover {
    box-shadow: inset 0 -3px 0 0 #FEA55F;
}

.navbar__projects {
    border-right: var(--stroke);
}

.navbar__contact {
    position: absolute;
    right: 0;
}

.footer__find {
    padding: 1.188rem 1.125rem 1.188rem 1.375rem;
}

.footer__lang {
    padding: 1.188rem 1.375rem;
    border-left: var(--stroke);
    position: absolute;
    right: 0;
}

/* Home */

.home {
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    gap: 8.125rem;
}

.home__headline {
    margin: 1.125rem 0;
}

.home__subheadline {
    margin-bottom: 5.75rem;
    color: #4D5BCE;
}

.home__lable {
    margin-top: 1rem;
}

.home__images  {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.home__blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 90px;
    margin: auto;
}